CHARMBASE = /cray/css/users/smehta/NAMD_CPU_bundle/NAMD_Git-2022-07-21_Source/charmGIT_mpi_smp
include .rootdir/arch/Linux-x86_64-cce.arch
CHARMARCH = mpi-crayshasta-smp
CHARM = $(CHARMBASE)/$(CHARMARCH)
NAMD_PLATFORM = $(NAMD_ARCH)-MPI-smp
include .rootdir/arch/$(NAMD_ARCH).base
include .rootdir/arch/$(NAMD_ARCH).tcl
include .rootdir/arch/$(NAMD_ARCH).fftw3
TCLDIR = /cray/css/users/smehta/NAMD_CPU_bundle/tcl8.5.9-linux-x86_64
FFTDIR = /opt/cray/pe/fftw/3.3.10.3/x86_milan
